/* src/styles.scss or src/app/pages/main/main.component.scss */
html, body {
    height: 100%;
    margin: 0;
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the container takes up at least the full viewport height */
  }
  
  router-outlet {
    flex: 1; /* This makes sure the content area takes up all available space between the navbar and the footer */
  }
  
  app-footer {
    background-color: #f1f1f1; /* Customize as needed */
    padding: 0em;
    /* Ensure the footer has a minimum height if needed */
  }
  